@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

*{
    font-family: 'PT Sans', sans-serif !important;
}
body{
    background-color: #edeef0 !important
}
.homebanner{
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./Assects/Images/baseball-homebanner.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}
hr{
    width: 10%;
    opacity: .6 !important;
}
.signin{
    background-color: #de342f !important;
    box-shadow: 0 6px 8px 0 rgba(0,0,0,.2);
    padding: 10px !important;
    transition:transform 1.5s;
}
.signin:hover{
    transform:scale(1.1);
    box-shadow: 0 6px 8px 0 rgba(0,0,0,.2);
    background-color: #bd2c28 !important;
}
.form-login {
    background-color: #edeef0 !important;
}
.f-red{
    color: #de342f !important;
}
.linkbtn{
    cursor: pointer;
}
.input-field{
    height: 45px !important;
}
.partner-info{
    font-family: 'PT Sans', sans-serif !important;
    font-weight: 600 !important;
}
.partner-label{
    font-size: small;
    font-family: 'Montserrat', sans-serif !important;
}
.left-arrow{
    position: relative;
    top: -7px;
    left: -11px;
}
.font-small{
    font-size:13px !important;
}
.font-16{
    font-size: 16px !important;
}
.dropdown-menu[data-bs-popper]{
    right: 0 !important;
    left: auto !important;
}
.nav-pills .nav-link.active, .bg-main{
    background-color: #f7f7f7 !important;
}
.header{
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8) !important;
    padding: 13px 10px !important;
    height: 10vh !important;
    position: sticky !important;
    top: 0;
    z-index: 999;
}
.side-menu{
    position: fixed !important;
    width: 100 !important;
}
.active-sidebar{
    border-radius: 10px !important;
}
.add-center{
    border: 2px dashed #d3d3d3;
    min-height: 280px;
}
.add-center-card{
    min-height: 280px;
}
.card-header{
    max-height: 100px !important;
}
.card-img{
    max-height: 90px !important;
    min-height: 90px !important;
    object-fit: cover;
    
}
.custom-index {
    position: relative;
    z-index: 99;
}
.card-img-top {
    position: relative;

}
.add-image{
    min-height: 98px !important;
    min-width: 98px !important;
}
.labels{
    color: gray;
    font-size: smaller;
    font-weight: 600;
}
.arrow-select-center{
    position: relative;
    top: 0px;
    right: 25px;
    width: fit-content;
}
.arrow-select-orginfo{
    position: relative;
    top: -2px;
    right: 25px;
    width: fit-content;
}
.arrow-select1{
    position: relative;
    top: -2px;
    right: 20px;
    width: fit-content;
}
.cursor-pointer{
    cursor: pointer;
}

input[type="file"] {
    display: none;
}
.card-bg{
    background-color: #7f7f7f !important;
}
.card-img-top:before {
    background-color: #00000080 !important;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.border-dotted{
    border-style: dashed !important;
    border-width: 1px !important;
}
.bg-ws{
    background-color: whitesmoke;
}
.side-text{
    font-size: smaller;
}
.my-modal .modal-content{
   background-color: #edeef0 !important
}
.breadcrumb-item+.breadcrumb-item::before{
    content: var(--bs-breadcrumb-divider,">") !important;
}
.card-content{
    min-height: 175px !important;
}
.card-content:hover{
    border: 1px solid red;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.side .nav-link:hover .d-flex .icon {
    color: #de342f !important;
  }
  .side .nav-link:hover .side-text {
    color: #de342f !important;
  }
.active-side, .side .nav-link:hover {
    background-color: #f7f7f7;
    border-radius: 10px;
    color: #de342f!important;
}
.nav-link.active{
    background-color: #434346 !important;
    border-radius: 10px !important;
    color: white !important;
}
#refund  .nav-link {
    color: #424243;
    font-size: 14px;
    padding: 6px 20px;
}

.refund-nav .nav-link {
    color: #424243 !important;
    font-size: 14px;
}
.sidenav.nav-link:hover{
    background-color: #f7f7f7 !important;
    border-radius: 10px !important;
    color: #de342f!important;
}
.sidebar{
    height: 100vh !important;
    overflow: hidden !important;
    position: sticky;
    top: 0;
    left: 0;
}
.dropdown-item:active{
    background-color: #de342f !important;
    color: black !important;
}
.side{
    position: fixed;
    width: 16.66% !important;
}
.side ul{
    width: 15.5% !important;
}
.apply{
    background-color: #de342f !important;
}
.crd-title{
    max-width: 200px !important;
}
th {
    color: #565656 !important;
    font-weight: 400;
}
.tableheadrow {
    color: #1166cd;
    font-size: 80%;
    font-weight: 400;
    height: 35px;
}
.table-spacing {
    border-collapse: initial;
    border-spacing: 0 5px;
    
}
.refund-drop .dropdown-toggle::after {
    display: none !important;
}
.font-alert{
    font-size: 8px !important;
}
tr {
    border-radius: 10px !important;
    height: 50px;
}
tr td:first-child {
    border-bottom-left-radius: 10px;
    border-left: 1px solid #dbd8d8;
    border-top-left-radius: 10px;
    padding-left: 20px;
}
tr td:last-child {
    border-bottom-right-radius: 10px;
    border-right: 1px solid #dbd8d8;
    border-top-right-radius: 10px;
}
.table-borderless>:not(:first-child) {
    border-top-width: 0;
}
tr td {
    border-bottom: 1px solid #dbd8d8!important;
    border-top: 1px solid #dbd8d8;
}
.card-addlocation {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    flex-shrink: 0;
    height: 150px;
    margin-left: 10px;
    width: 150px;
}
.square {
    background-position: 50%;
    background-size: cover;
    border-radius: 5px;
    max-height: 100px;
    min-height: 100px;
    position: relative;
}
.square:before {
    background-color: #30303099;
    border-radius: 5px;
    bottom: 0;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: 0;
    transition: height .5s ease-out;
    width: 100%;
}
