@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

*{
    font-family: 'PT Sans', sans-serif !important;
}
body{
    background-color: #edeef0 !important
}
.homebanner{
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./Assects/Images/baseball-homebanner.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}
hr{
    width: 10%;
    opacity: .6 !important;
}
.signin{
    background-color: #de342f !important;
    box-shadow: 0 6px 8px 0 rgba(0,0,0,.2);
    padding: 10px !important;
    transition:transform 1.5s;
}
.signin:hover{
    transform:scale(1.1);
    box-shadow: 0 6px 8px 0 rgba(0,0,0,.2);
    background-color: #bd2c28 !important;
}
.form-login {
    background-color: #edeef0 !important
}
.f-red{
    color: #de342f !important;
}
.linkbtn{
    cursor: pointer;
}
.input-field{
    height: 45px !important;
}
.partner-label{
    color: rgb(70, 173, 168) !important;
}
.left-arrow{
    position: relative;
    top: -7px;
    left: -11px;
}
.font-small{
    font-size:13px !important;
}
.font-18{
    font-size: 18px !important;
}
.dropdown-menu[data-bs-popper]{
    right: 0 !important;
    left: auto !important;
}
.nav-pills .nav-link.active, .bg-main{
    background-color: #f7f7f7 !important;
}
.header{
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8) !important;
    padding: 13px 10px !important;
    height: 10vh !important;
}
.active-sidebar{
    border-radius: 10px !important;
}
.add-center{
    border: 2px dashed #d3d3d3;
    min-height: 250px;
}
.add-banner{
    height: 60px;
}
.add-center-card{
    min-height: 250px;
}
.add-image{
    min-height: 100px !important;
    min-width: 120px;
}
.labels{
    color: gray;
    font-size: smaller;
    font-weight: 600;
}
.arrow-select{
    position: relative;
    top: -30px;
    right: -170px;
    width: fit-content;
}
.cursor-pointer{
    cursor: pointer;
}

input[type="file"] {
    display: none;
}