@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

*{
    font-family: 'PT Sans', sans-serif !important;
}
body{
    background-color: #edeef0 !important
}
.homebanner{
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./Assects/Images/baseball-homebanner.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}
hr{
    width: 10%;
    opacity: .6 !important;
}
.signin{
    background-color: #de342f !important;
    box-shadow: 0 6px 8px 0 rgba(0,0,0,.2);
    padding: 10px !important;
    transition:transform 1.5s;
}
.signin:hover{
    transform:scale(1.1);
    box-shadow: 0 6px 8px 0 rgba(0,0,0,.2);
    background-color: #bd2c28 !important;
}
.form-login {
    background-color: #edeef0 !important;
}
.f-red{
    color: #de342f !important;
}
.linkbtn{
    cursor: pointer;
}
.input-field{
    height: 45px !important;
}
.partner-info{
    font-family: 'PT Sans', sans-serif !important;
    font-weight: 600 !important;
}
.partner-label{
    font-size: small;
    font-family: 'Montserrat', sans-serif !important;
}
.left-arrow{
    position: relative;
    top: -7px;
    left: -11px;
}
.font-small{
    font-size:13px !important;
}
.font-16{
    font-size: 16px !important;
}
.dropdown-menu[data-bs-popper]{
    right: 0 !important;
    left: auto !important;
}
.nav-pills .nav-link.active, .bg-main{
    background-color: #f7f7f7 !important;
}
.header{
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8) !important;
    padding: 13px 10px !important;
    height: 10vh !important;
    position: sticky !important;
    top: 0;
    z-index: 999;
}
.side-menu{
    position: fixed !important;
    width: 100 !important;
}
.active-sidebar{
    border-radius: 10px !important;
}
.add-center{
    border: 2px dashed #d3d3d3;
    min-height: 280px;
}
.add-center-card{
    min-height: 280px;
}
.add-image{
    min-height: 100px !important;
    min-width: 100px !important;
}
.labels{
    color: gray;
    font-size: smaller;
    font-weight: 600;
}
.arrow-select-center{
    position: relative;
    top: 0px;
    right: 25px;
    width: fit-content;
}
.arrow-select-orginfo{
    position: relative;
    top: -2px;
    right: 25px;
    width: fit-content;
}
.arrow-select1{
    position: relative;
    top: -2px;
    right: 20px;
    width: fit-content;
}
.cursor-pointer{
    cursor: pointer;
}

input[type="file"] {
    display: none;
}
.card-bg{
    background-color: #7f7f7f !important;
}
.border-dotted{
    border-style: dashed !important;
    border-width: 1px !important;
}
.bg-ws{
    background-color: whitesmoke;
}
.side-text{
    font-size: smaller;
}
.my-modal .modal-content{
   background-color: #edeef0 !important
}
.breadcrumb-item+.breadcrumb-item::before{
    content: var(--bs-breadcrumb-divider,">") !important;
}
.card-content{
    min-height: 175px;
}
.card-content:hover{
    border: 1px solid red;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.nav-link.active{
    background-color: #f7f7f7 !important;
    border-radius: 10px !important;
    color: #de342f!important;
}
.sidebar{
    height: 100vh !important;
    overflow: hidden !important;
    position: sticky;
    top: 0;
    left: 0;
}
.dropdown-item:active{
    background-color: #de342f !important;
}
.side{
    position: fixed;
    width: 16.66% !important;
}
.side ul{
    width: 15.5% !important;
}